{% if object_list.count < 7 and object_list.count > 0 %}

	<section>

		<h1 class="head"><a href="http://projects.registerguard.com/school-closings/">School closures, delays</a></h1>

		<p>
			Updated every 15 minutes, check <a href="http://projects.registerguard.com/school-closings/">this list of delayed openings and closures</a>.
			<br>
			Affected school{{ object_list|pluralize }}:
			{% for school in object_list %}{{ school.participant }}{% if not forloop.last %}, {% endif %}{% endfor %}
		</p>

	</section>

	<hr>

{% else %}

	{# Begin nested old Django template "if". Derp. #}
	{% if object_list.count > 6 %}

	<section>

		<article>

			<div class="force">

				<header>

					<hgroup>

						<h2 class="label">

							<a href="//registerguard.com/rg/news/categories/?subcats=21670618">Schools</a>

						</h2>

						<h1 class="h5">

							<a href="//projects.registerguard.com/school-closings/">Full list of school delays and closures</a>

						</h1>

					</hgroup>
				</header>

			</div> <!-- /.force -->
		</article>

		<hr>

	</section>

	{% else %}

	<!-- No school closure/delay information @ {% now "P T o\n l, N j, Y" %} -->

	{% endif %}

{% endif %}
