{% extends "dox/bulldog_gh.html" %}
{% load paragraphs %}

{% block head_title %}Area closures & delayed openings{% endblock %}

{% block home %}: Area closures & delayed openings{% endblock %}

{% block pub_date %}{% endblock %}

{% block content %}
{% autoescape off %}
<div id="primary" class="c630 fl mr10">

	{% if object_list %}
		<p class="give">The information below is supplied by the relevant agencies.</p>
		<!-- {{ school_count }} -->
		{% for emergency in object_list %}
			<h2 class="dateline">{{ emergency.participant.category.name }}</h2>
			<h2 class="headline">
				{% if emergency.participant.org_url %}<a href="{{ emergency.participant.org_url }}" title="{{ emergency.participant.org_url }}" target="_blank">{% endif %}{{ emergency.participant.org_name }}{% if emergency.participant.org_url %}</a>{% endif %}
			</h2>
			<p>{% if emergency.updated %}<span class="attn"><img src="http://assets.registerguard.com/v3/images/template/icons/bug-updated.gif" alt="UPDATED!"></span> {% endif %}<span class="lede">{{ emergency.effective_date|date:"f a, l, M. j, Y" }}</span> &mdash; {{ emergency.detail }}</p>
		{% endfor %}
	{% else %}
		<h4>&nbsp;</h4>
		<p>No emergency information at this time.</p>
	{% endif %}
	
</div> <!-- /#primary /.c630 fl mr10-->
{% endautoescape %}
{% endblock %}